.find-project-heading1 {
  margin-top: 50px;
  font-size: 3.5rem;
  text-align: center;
}
.find-project-heading2 {
  margin-top: 15px;
  text-align: center;
}
.home-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-findproject {
  width: 70%;
  margin: 0 auto;
}

.project-card {
  margin: 20px;
  max-width: 30%;
  border-radius: 20px;
  padding: 50px 25px;
  background: #ffffff;
  border: 1px solid #ffbe00;
  transition: all 0.2s;
  box-shadow: 8px 8px 2px 1px #ffbf002d;
  height: 400px;
}
.project-card:hover {
  box-shadow: -8px 8px 2px -1px #ffbf002d;
  transform: translateY(-5px);
}
.card-diificulty {
  padding: 4px 12px;
  line-height: 150%;
  text-transform: capitalize;
  border-radius: 13px;
  width: fit-content;
  cursor: default;
  color: rgb(106, 148, 64);
  background: rgb(233, 253, 213);
}
.card-heading {
  margin: 10px 0;
}

.card-description {
  margin: 10px 0;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-tech {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.card-tech span {
  padding: 5px;
  font-size: 1.1em;
}
.card-btn {
  padding: 15px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.card-btn:hover {
  background-color: #ffbe00;
  box-shadow: 0px 15px 20px #ffbf0063;
  color: #fff;
}
.card-btn:active {
  transform: translateY(-1px);
}
.card-btn a {
  text-decoration: none;
  color: #000;
}
.div-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.container-findproject-btn {
  padding: 1.1em 2.5em;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ffbe00;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #ffbe00;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.container-findproject-btn:hover {
  background-color: #ffbe00;
  box-shadow: 0px 15px 20px #ffbf0069;
  color: #fff;
  transform: translateY(-7px);
}
.container-findproject-btn-a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1700px) {
  .container-findproject {
    width: 85%;
  }
}

@media screen and (max-width: 1457px) {
  .project-card {
    max-width: 40%;
  }
  .find-project-heading1 {
    margin-top: 50px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 849px) {
  .container-findproject {
    width: 95%;
  }
  .project-card {
    max-width: 92%;
  }
  .container-findproject-btn {
    font-size: 15px;
    padding: 15px 20px;
  }
}
